@import "tailwindcss";

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(0 0% 0%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(0 0% 4%);
    --foreground: hsl(0 0% 93%);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #3b82f6;
}